<!-- Shared chat menu dropdown -->
<div id="chatMenu" class="chat-menu-dropdown">
    <button onclick="chatMenuAction('star')">
        <span class="menu-icon">☆</span>
        <span>Star</span>
    </button>
    <button onclick="chatMenuAction('rename')">
        <span class="menu-icon">✎</span>
        <span>Rename</span>
    </button>
    <button onclick="chatMenuAction('addToProject')">
        <span class="menu-icon">📁</span>
        <span>Add to project</span>
    </button>
    <button onclick="chatMenuAction('delete')" class="menu-delete">
        <span class="menu-icon">🗑</span>
        <span>Delete</span>
    </button>
</div>